<h1>Find your Lister account</h1>
<p>Enter your email.</p>

<%= form_for(:password_reset, url: password_resets_path) do |f| %>
	<%= f.text_field :email, class: 'form-control' %>

	<%= f.submit "Submit", class: 'button' %>
<% end %>
