<div class="profile-field">
	<div class="row">
		<div class="large-12 columns">
			<div>
				<h2><b><%= @user.name %><h2><b>
			</div>

		</div>

        <div class="large-12 columns">
        	<div class="panel radius user-cars">
            <% if @user.cars.any? %>
            	<p>You have posted <%= @user.cars.count %> cars.</p>
                <div class="cars">
                    <%= render @cars %>
                </div>
            <% end %>
            <%= paginate @cars %>
            </div>
        </div>


	</div>
</div>