<% if @user.errors.any? %>
    <div class="error_explanation">
        <div data-alert class="alert-box alert radius">
            <p>Oops! seems there is something wrong with the entered data, please check following fields:<p>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
<% end %>