<div class="panel radius feed-field">
    <div class="row">
      	<div class="large-12 columns sort-field">
<!--            <div class="right">
      			<label>
              		<select>
                		<option value="price-high-to-low">Price (High to Low) </option>
                		<option value="price-low-to-high">Price (Low to High) </option>
              		</select>
            	</label>
            </div>
-->
            <div class="sort-count left">
            	<p><%= Car.count %> matches</p>
            </div>
        </div>
        <hr>
        <div class="large-12 columns">
            <% if @cars.any? %>
                <div class="cars">
                    <%= render @cars %>
                </div>
            <% end %>
            <%= paginate @cars %>
        </div>
    </div>
</div>