<% if @cars.any? %>
   	<div class="panel radius feed-field">
   		<div class="row">
			<ol class="cars">
    			<%= render @cars %>
  			</ol>
  			<%= paginate @cars %>
  		</div>
  	</div>
<% end %>