<div class="panel radius filter-field">
	<span>Filters</span>
	<div class="range-slider round" data-slider data-options="step: 500; start: 1000; end: 30000;">
  		<span class="range-slider-handle" role="slider" tabindex="0"></span>
  		<span class="range-slider-active-segment"></span>
  		<input type="hidden">
	</div>
</div>