// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$silver			: #66757f;

.cars {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }

  .content {
    display: block;
    .car-title {
      color: $silver;
    }

    img {
      display: block;
      padding: 5px 0;
    }

    .car-timestamp p {
      font-size: 12px;
      color: $silver;
      display: block;
    }

    .car-price {
      padding-top: 40px;
      color: $silver;
    }
  }

}
