/* Custom colors */
$white			: #fff;
$silver			: #66757f;
$green-sea		: #16a085;
$silver-light	: #bdc3c7;
$concrete		: #95a5a6;


/* Top bar styling */
.topbar {
	height: 46px;
	border-bottom: 1px solid $silver-light;
	position: fixed;		
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

.title-area li {
	display: inline-block;
}

.home-icon {
	color: $silver;
	float: left;
	font-size: 30px;
}

.home-style {
	color: $silver;
	float: left;
	font-size: 13px;
	padding-left: 5px;
	margin-top: 13px;
}

.feed-icon {
	color: $silver;
	float: left;
	margin-left: 4px;
	font-size: 30px;
}

.feed-style {
	color: $silver;
	font-size: 13px;
	margin-left: 5px;
	margin-top: 13px;
}

.mail-icon {
	color: $silver;
	float: left;
	margin-left: 4px;
	font-size: 30px;
}

.mail-style {
	color: $silver;
	font-size: 13px;
	margin-left: 5px;
	margin-top: 13px;
}

.divider {
	width: 40px;
}



/* Styles for expanding search element */

.search-wrap {
	background-color: $white;
	padding-top: 1px;
	.search-icon {
		position: absolute;
	}
}

.nav-search {
	background: $white;
	.text-search {
		font-size: 13px;
	}
}

.nav-add {
	.button {
		font-size: 13px;
	}
}


.right-section {
	display: inline-block;
}

.fi-magnifying-glass {
	position: absolute;
	margin-left: 148px;
	font-size: 22px;
	color: #cccccc;
	z-index: 2;
}

.nav-add {
	background: $white;
	padding-top: 1px;
	padding-left: 16px;
	padding-right: 8px;
	.fi-plus {
		position: absolute;
		margin-top: 5px;
		margin-left: 6px;
		font-size: 22px;
		color: $white;
		z-index: 2;
	}
}



