///*------------*\
//     COLORS
//\*------------*/

$white			: #fff;
$asbestos		: #7f8c8d;
$silver-light	: #bdc3c7;
$silver			: #66757f;
$green-sea		: #16a085;
$concrete		: #95a5a6;
$grey 			: #ecf0f1;

.home-content {
	position: relative;
	padding-top: 86px;

	
	.feed-content {
		display: block;
		.feed-field {
			background: $white;
			border: 1px solid $silver-light;
		}
		.button {
			line-height: 1px;
			height: 20px;
		}
	}

	.filter-content {
		display: block;
		.filter-field {
			background: $white;
			border: 1px solid $silver-light;
		}
	}
}


.cars {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }

  .content {
    display: block;
    .car-title {
      color: $silver;
    }

    img {
      display: block;
      padding: 5px 0;
    }

    .car-timestamp p {
      font-size: 12px;
      color: $silver;
      display: block;
    }

    .car-price {
      padding-top: 40px;
      color: $silver;
    }
  }

}
