/* Custom colors */
$white			: #fff;
$asbestos		: #7f8c8d;
$silver-light	: #bdc3c7;
$silver			: #66757f;
$green-sea		: #16a085;

.signup-content {
	display: block;
	position: relative;
	padding: 56px;
	.signup-descr {
		h2, p {
			color: $silver;
		}
	}

	.login-field {
		background: $white;
		border: 1px solid $silver-light;
		padding: 20px 10px 10px 10px;
	}

	.signup-field {
		background: $white;
		border: 1px solid $silver-light;
		margin-top: 20px;
		padding: 20px 10px 66px 10px;
		p {
			color: $silver;
		}
	}

	.button {
		line-height: 1px;
		height: 20px;
	}

}
