<div class="contain-to-grid sticky topbar">

	<nav class="top-bar global-nav">
		<!-- Home Icon -->
		<ul class="title-area">
			<li>
				<a href="/">
					<span class="fi-home home-icon"></span>
					<span class="home-style">Home</span>
				</a>
			</li>
			<li class="divider"></li>
		</ul>

		<section class="top-bar-section">
			<!-- My Feed Icon -->
			<ul class="left left-section">
				<li>
					<a href="feed">
						<span class="fi-list-bullet feed-icon"></span>
						<span class="feed-style">My Feed</span>
					</a>
				</li>
			</ul>

			<!-- Right Nav Section -->
			<div class="right right-section">
        		<ul class="right nav-actions">
        			<!-- Search section -->
        			<li>
						<div class="search-wrap">
							<a href="#" class="search-icon"><i class="fi-magnifying-glass"></i></a>
            				<%= form_tag "/search", method: 'get', enforce_utf8: false, class: "nav-search radius" do %>
								<%= text_field_tag :q, params[:q], placeholder: "Search a car", class: "text-search radius" %>
							<% end %>
        				</div>
        			</li>
        			<li class="divider-right"></li>
					<li>
						<div class="nav-add">
							<a href="#" class="button radius">Add Car</a>
						</div>
					</li>
					<li><%= link_to "Sign Up", signup_path %></li>
				</ul>
			</div>


		</section>
	</nav>

</div>


