

<% flash.each do |message_type, message| %>
<div class="row">
	<div class="large-12 columns alert-box radius <%= message_type %>">
		<%= message %>
		<a href="#" class="close">&times;</a>
	</div>
</div>
<% end %>